Package: brew-meta-dev-all
Source: brew-meta-dev
Version: 1.0.0
Architecture: all
Maintainer: c00clupea <c00clupea@gmail.com>
Installed-Size: 26
Depends: brew-meta-dev, brew-meta-dev-java, brew-meta-dev-c, brew-meta-dev-python, brew-meta-dev-mono, brew-meta-dev-web, brew-nodejs
Section: metapackages
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: All dev packages
 Install every development tool
