Package: brew-meta-dev-java
Source: brew-meta-dev
Version: 1.0.0
Architecture: all
Maintainer: c00clupea <c00clupea@gmail.com>
Installed-Size: 26
Depends: brew-java | brew-java-8, eclipse, visualvm, brew-meta-dev
Section: metapackages
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: package for java development
 Provides some tools for java programming
