Package: brew-meta-dev
Version: 1.0.0
Architecture: all
Maintainer: c00clupea <c00clupea@gmail.com>
Installed-Size: 26
Depends: brew-vcs, brew-editors
Section: metapackages
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Base package for development
 Provides some tools which are language independent
